@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #18181b;
  --color-bg-soft: #fafaf9;
  --color-border: #e7e5e4;
  --color-ink: #171717;
  --color-ink-secondary: #737373;
}

html {
  color: var(--color-ink);
}

body {
  @apply min-h-screen antialiased bg-canvas text-ink;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
